body{
    background-color: white;
    font-family: 'Outfit', sans-serif;
    width: 1920px;
}

.parent-container{
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 0% 2% 0% 2%;
}

.footer{
  height: 20vh;
}

.child-container,.chart-container{
  height: 40vh;
}

.title-container-child{
  height: 80%;
  width: 100%;
  padding-left: 3%;
}

.chart-container{
  background-color: white;
}

#emission_donutchart,#co2_emissions_total,#temp_change,#correlation_line,#correlation_gdp,#malaysia_co2,#malaysia_temp{
  background-color: white;
  height: 100%;
  width: 80%;
  margin-left: 9%;
}

#co2_emissions_total{
  height: 100%;
}

#emission_donutchart{
  height: 100%;
}

#temp_change{
  height: 91%;
}

#sources_total{
  margin-left:5.5%;
}

#correlation_line{
  width: 85%;
  margin-left: 7%;
}

#correlation_gdp{
  width: 90%;
  margin-left: 6%;
}


/* TEXT AND FONTS */

.h1-title,.h1-section,.h3-title,.h2-section{
  color: black;
}

.h1-title{
  padding-top: 2%;
  font-size: 3.5rem;
  font-weight: bold;
  color: black;
  padding-left: 3%;
}

.h2-title{
  font-size: 2rem;
  margin: 5%;
  font-weight: bolder;
  padding-bottom: 2%;
}

.h1-section-title{
  padding-top: 1%;
  font-weight: bolder;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 4%;
  color: black;
}

.h3-title{
  color: black;
  font-weight: lighter;
  font-style: italic;
  font-size: 1.5rem;
  padding-bottom: 2%;
  padding-left: 3%;
}

.h1-section{
  padding-top: 2%;
  font-weight: bolder;
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 1%;
}

.p-section{
  font-size: 1.7rem ;
  word-wrap: break-word;
  margin:2% 5% 2% 5%;
  text-align: center;
}

.p-section-title{
  font-size: 1.7rem ;
  word-wrap: break-word;
  margin:2% 5% 2% 5%;
  text-align: justify;
}
